.root {
    -fx-font-family: 'zLucida Console', Arial, Verdana;
    -fx-font-size: 9pt;
    -fx-base: rgb(50, 50, 50);
    -fx-background: rgb(50, 50, 50);
    -fx-control-inner-background:  rgb(50, 50, 50);
}

.text-field {
    -fx-prompt-text-fill: rgba(155, 100, 55, 0.5) ;
}

* {
   -fx-cellDragEnter: #2B1B17;
}