.root {
    -fx-font-family: 'Lucida Console', Arial, Verdana;
    -fx-font-size: 9pt;
    -fx-base: #7EAACC;
    -fx-background: #7EAACC;
    -fx-control-inner-background: white;
}

* {
   -fx-cellDragEnter: gold;
}
